.text-box-page-container {
  display: flex;
  border-top: 1px solid #DCDCDC;
  border-bottom: 1px solid #DCDCDC;
  margin-bottom: 70px;
  height: 90px;
  margin-top: 80px;

  .cmp-text-box--page-1 {
    .cmp-text {
      > p {
        color: #333333;
        width: 170px;
        font-family: Sarabun;
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 300%;
        display: flex;
        align-items: center;
      }
    }


  }

  .cmp-text-box--page-2 {
    padding-left: 32px;
    font-family: Sarabun;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #A9A9A9;

    p {
      border-left: 1px solid #DCDCDC;
      padding-left: 70px;
    }
  }
}

.text-box-background-page-container {
  display: flex;
  background-color: #F7F7F7;
  height: 128px;
  margin-top: 76px;

  .cmp-text-box-background---page-1 {
    max-width: 744px;
    font-family: Sarabun;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    display: flex;
    align-items: center;

    .cmp-text {
      padding: 40px 32px;
    }
  }

  .cmp-button-box-background---page-2 {
    padding-left: 202px;


    .cmp-form-button {
      height: 56px;
      background-color: #dcdcdc;
      box-sizing: border-box;
      font: 700 16px "Sarabun";
      color: #333333;
      transition: all 0.4s;
      opacity: 1;
      outline: none;
      text-transform: uppercase;
      border: none;
      border-radius: 0;
      margin-top: 40px;

    }
  }
}
