.text-box-page-container {
  display: flex;
  border-top: 1px solid #DCDCDC;
  border-bottom: 1px solid #DCDCDC;
  margin-bottom: 70px;
  height: 90px;
  margin-top: 80px;

  @media only screen and (max-width:@screen-small) {}

  .cmp-text-box--page-1 {
    .cmp-text {
      > p {
        color: #333333;
        max-width: 170px;
        font-family: Sarabun;
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 300%;
        display: flex;
        align-items: center;
        margin: 0 0 0 0;

        @media only screen and (max-width:@screen-small) {
          font-size: @font-size-medium;
          width: 110px;
        }
      }
    }
  }

  .cmp-text-box--page-2 {
    padding-left: 32px;
    font-family: Sarabun;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #A9A9A9;

    @media only screen and (max-width:@screen-small) {
      padding-left: 0px;
    }

    p {
      border-left: 1px solid #DCDCDC;
      padding-left: 32px;
      margin: 0 0 0 0;


      @media only screen and (max-width:@screen-small) {
        font-size: @font-size-small;
        padding-left: 10px;
      }
    }
  }
}

.text-box-background-page-container {
  display: flex;
  background-color: #F7F7F7;
  height: 128px;
  margin-top: 76px;

  @media only screen and (max-width:@screen-small) {
    flex-direction: column;
    height: auto;
    justify-content: center;
    align-items: center;
  }

  .cmp-text-box-background---page-1 {
    max-width: 744px;
    font-family: Sarabun;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    display: flex;
    align-items: center;

    .cmp-text {
      padding: 40px 32px;
    }
  }

  .cmp-text-box-background---page-2 {
    float: right;
    padding-top: 55px;
    margin-left: 285px;

    @media only screen and (max-width:@screen-small) {
      padding-top: 0px;
      padding-bottom: 40px;
      margin-left: 0px;
    }


    .cmp-text {
      p {
        a {
          background: #DCDCDC;
          border-radius: 8px;
          padding: 15px 30px;
        }
      }
    }
  }
}
