.cmp-layout-container--secure-shadow {


  > .aem-Grid {
    background: @white;
    box-shadow: 4px 4px 10px rgba(87, 87, 87, 0.1);
    border-top: 4px solid @black-40;
    margin-top: 8px;
    margin-right: 16px;

  }
}
