.cmp-margin--less {
  margin: 0;
}

.cmp-margin--high {
  margin-top: 40px;
}

.cmp-margin--medium {
  margin-top: 30px;
}

.cmp-margin--normal {
  margin-top: 20px;
}

.cmp-margin--small {
  margin-top: 10px;
}
