.cmp-margin--less {
  margin: 0;
}

.cmp-margin--high {
  margin-top: 48px;
}

.cmp-margin--medium {
  margin-top: 32px;
}

.cmp-margin--normal {
  margin-top: 16px;
}

.cmp-margin--small {
  margin-top: 8px;
}

.cmp-border--left {
  border-left: 0.5px solid #A9A9A9;
}
