@secure-home-navbar-image-size: 50px;
@secure-home-navbar-image-size-expand: 50px;
@secure-home-navbar-icon-size: 16px;
@secure-home-navbar-profile-size: 30px;
@secure-home-navbar-arrow-icon-size: 32px;
@secure-home-navbar-width: 60px;
@secure-home-navbar-width-expand: 275px;


.side-navbar {
  padding: 0;

  .cmp-secure-side-nav {
    background-color: @black-40;
    width: @secure-home-navbar-width;
    position: fixed;
    z-index: 1030;
    left: 0;
    display: block;
    height: 100vh;
    box-sizing: border-box;

    transition: width 0.6s;

    @media (max-width: @screen-small) {
      display: none;
    }


    .cmp-secure-side-nav__container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;


      > div:nth-child(1) {
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
      }


      > div:nth-child(2) {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
      }
    }

    .cmp-secure-side-nav__arrow {
      width: @secure-home-navbar-arrow-icon-size;
      height: @secure-home-navbar-arrow-icon-size;
      border-radius: 50%;
      background: @black-20;
      position: relative;
      align-self: flex-end;
      margin-right: -16px;

      &:hover {
        cursor: pointer;
      }

      > span {
        position: absolute;
        top: calc(50% - 10px);
        left: calc(50% - 16px);
        width: 8px;
        height: 6px;
        border: 2px solid @white;
        border-right: 0;
        border-left: 0;
        //        transform: rotate(-45deg);
        transition: all 0.8s;
      }

      > span:nth-child(1) {
        border-bottom: 0;
        transform: rotate(45deg);
      }

      > span:nth-child(2) {
        border-top: 0;
        transform: rotate(-45deg);
      }
    }

    .cmp-secure-side-nav__image-profile,
    .cmp-secure-side-nav__image-logo,
    .cmp-secure-side-nav__icon {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 20px 0;

      .cmp-image {
        padding: 0;
        margin: 0;
      }

      .cmp-image__image {
        padding: 0;
        margin: 0;
      }
    }

    .cmp-secure-side-nav__image-logo {
      width: @secure-home-navbar-image-size;
      height: @secure-home-navbar-image-size;
    }

    .cmp-secure-side-nav__navigation {
      .cmp-navigation__group {
        list-style: none;
        padding: 0;
      }

      .cmp-navigation__item {
        display: none;
        padding: 12px 0;
      }

      .cmp-navigation__item-link {
        display: none;
      }
    }

    .cmp-secure-side-nav__icon {
      .cmp-image {
        width: @secure-home-navbar-icon-size;
        height: @secure-home-navbar-icon-size;
      }
    }

    .cmp-secure-side-nav__icon::after,
    .cmp-secure-side-nav__image-profile::after {
      content: attr(data-short-text);

      color: @white;
    }



    .cmp-secure-side-nav__image-profile {
      margin-bottom: 16px;

      .cmp-image {
        height: @secure-home-navbar-profile-size;
        width: @secure-home-navbar-profile-size;
      }
    }
  }

}

body.expand-side-navbar {
  .cmp-secure-side-nav {
    width: @secure-home-navbar-width-expand;

    .cmp-secure-side-nav__container {

      > div:nth-child(2) {
        align-items: flex-start;
        padding-left: 16px;
      }
    }

    .cmp-secure-side-nav__arrow {

      > span {
        position: absolute;
        left: calc(50% - 12px);

      }

      > span:nth-child(1) {
        transform: rotate(45deg) translateY(6px);
      }

      > span:nth-child(2) {
        transform: rotate(-45deg) translateY(-6px);

      }
    }

    .cmp-secure-side-nav__image-profile,
    .cmp-secure-side-nav__icon {
      flex-direction: row;
    }

    .cmp-secure-side-nav__icon::after,
    .cmp-secure-side-nav__image-profile::after {
      content: attr(data-icon);
      margin-left: 8px;

    }

  }
}
