.cmp-teaser--banner-left {
  margin-top: 140px;
  padding-right: 50px;

  @media (max-width:@screen-small) {
    padding-right: 0px;
    margin-top: 0px;
  }

  .cmp-teaser {
    .cmp-teaser__title {
      font-family: Sarabun;
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      line-height: 150%;
      display: flex;
      align-items: flex-end;
    }

    .cmp-teaser__description {
      font-family: Sarabun;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 200%;
      display: flex;
      align-items: flex-end;
      margin-top: 56px;
    }

    .cmp-teaser__action-container {
      padding: 80px 0;

      @media (max-width:767px) {
        padding: 0px;
      }

      .cmp-teaser__action-link {
        font-family: Sarabun;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        display: flex;
        align-items: flex-end;
        text-transform: uppercase;
        background-color: #ffffff00;
        padding: 0;
      }

      .cmp-teaser__action-link::after {
        content: url("/content/dam/sandiego/icons/arrow-down.svg");
        font: @font-weight-bold @font-size-base @font-family-base;
        padding-left: 15px;
      }
    }
  }
}

.cmp-teaser--banner-middle {
  padding: 0 14px !important;
  box-sizing: border-box;

  @media (max-width:@screen-small) {
    width: 100% !important;
  }

  .cmp-teaser {
    background-color: #F7F7F7;
    padding: 0 32px;

    .cmp-teaser__title {
      font-family: Sarabun;
      font-style: normal;
      font-weight: bold;
      font-size: @font-size-large;
      line-height: 150%;
      display: flex;
      align-items: end;
      padding-top: 41px;
      color: @text-color-second;
    }

    .cmp-teaser__description {
      font-family: Sarabun;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 200%;
      display: flex;
      align-items: flex-end;
      margin-top: 28px;
      color: @text-color-third;

    }

    .cmp-teaser__action-container {
      padding: 80px 0 30px 0;

      .cmp-teaser__action-link {
        font-family: Sarabun;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        display: flex;
        align-items: flex-end;
        text-transform: uppercase;
        background-color: #ffffff00;
        padding: 0;
      }

      .cmp-teaser__action-link::after {
        content: url("/content/dam/sandiego/icons/arrow-right.svg");
        font: @font-weight-bold @font-size-base @font-family-base;
        padding-left: 15px;
      }
    }
  }
}

.cmp-teaser--bottom-left {
  height: 716px;

  @media (max-width:@screen-small) {
    max-width: 100%;
    height: 350px;
  }

  .cmp-teaser {

    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

    .cmp-teaser__content {
      position: absolute;
      bottom: 1em;
      left: 2em;
      right: 2em;

      @media (max-width:@screen-small) {
        bottom: 2em;
      }
    }

    .cmp-teaser__title {
      font-family: @font-family-base;
      font-weight: bold;
      font-size: 25px;
      line-height: 150%;
      color: @white;
    }

    .cmp-teaser__image {
      width: 100%;
      height: 100%;
      margin: 0;

      .cmp-image {
        margin: 0;
        width: 100%;
        height: 100%;
      }

      .cmp-image__image {
        margin: 0;
        width: 100%;
        height: 100%;
      }
    }

    .cmp-teaser__description {
      font-family: Sarabun;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 200%;
      display: flex;
      align-items: flex-end;
      margin-top: 16px;
      width: 304px;
      color: @white;

    }
  }
}

.cmp-teaser--bottom-right {
  background-color: @white;
  padding: 0 14px 32px 14px;
  box-sizing: border-box;

  .cmp-teaser {

    position: relative;
    display: block;
    width: 100%;
    height: 342px;

    padding: 0;
    margin: 0;


    .cmp-teaser__content {
      position: absolute;
      bottom: 1em;
      left: 2em;
      right: 2em;
    }


    .cmp-teaser__title {
      font-family: @font-family-base;
      font-weight: bold;
      font-size: 25px;
      line-height: 150%;
      color: @white;

    }

    .cmp-teaser__image {
      width: 100%;
      height: 100%;
      margin: 0;

      .cmp-image {
        margin: 0;

        width: 100%;
        height: 100%;
      }

      .cmp-image__image {
        margin: 0;
        width: 100%;
        height: 100%;
      }
    }

    .cmp-teaser__description {
      font-family: Sarabun;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 200%;
      display: flex;
      align-items: flex-end;
      margin-top: 16px;
      width: 304px;
      color: @white;

    }
  }
}
