@secure-notification-item-size: 40px;

.cmp-notification-item {

  padding: 12px 0;

  .cmp-notification-item__container {
    display: flex;
    width: 100%;

    > div:nth-child(2) {
      margin-left: 16px;
      position: relative;
      width: 100%;
    }
  }

  .cmp-notification-item__type {
    margin-top: 6px;
    min-width: @secure-notification-item-size;
    height: @secure-notification-item-size;
    background-color: @black-40;
    font-size: @font-size-xsmall;
    color: @white;
    border-radius: 50%;
    text-transform: uppercase;

    display: block;
    position: relative;
    text-align: center;
    line-height: @secure-notification-item-size;
  }


  .cmp-notification-item__title {
    font: @font-weight-bold @font-size-base @font-family-base;
    padding-right: 32px;
    color: @text-color;
  }

  .cmp-notification-item__hellip {
    position: absolute;
    right: 0;
    top: 3px;
    width: 20px;
    height: 30px;

    &:hover {
      cursor: pointer;
    }
  }

  .cmp-notification-item__hellip::after {
    content: '\2807';
  }

  .cmp-notification-item__actions {
    position: absolute;
    right: 6px;
    top: 20px;
    display: block;
    background: @white;
    box-shadow: 0px 2px 4px rgba(87, 87, 87, 0.2);
    overflow: hidden;
    z-index: 1050;
    max-height: 0;


    > div {
      display: block;
      white-space: nowrap;
      width: 100%;
      padding: 12px 24px;
      border-bottom: 0.5px solid @black-20;

      &:hover {
        cursor: pointer;
        background: @black-20;
      }
    }
  }


  .active .cmp-notification-item__actions {
    max-height: 200px;
    transition: all 0.2s;
  }

  .cmp-notification-item__time {
    display: inline-block;
    font: @font-weight-normal @font-size-small @font-family-base;
    color: @text-color-third;
    margin-top: 8px;
  }

  .cmp-notification-item__status {
    margin-top: 8px;

    display: inline-block;
    float: right;
    font: @font-weight-normal @font-size-xsmall @font-family-base;
    color: @text-color-third;
    background: @black-20;
    border-radius: 4px;
    padding: 3px 4px;


  }
}
