.cmp-layout-container--process-info {
  background: @black-40;
  padding: 123px 0 72px 0;

  @media (max-width: @screen-small) {
    padding: 72px 0 72px 0;
  }

  > .aem-Grid .aem-Grid {
    display: block;
    justify-content: space-between;
    perspective: 1000px;



    > div:not(:last-child) {
      margin-right: 8px;

      @media (max-width: @screen-small) {
        margin-right: 0;
        margin-bottom: 8px;
      }
    }

    @media (max-width: @screen-small) {
      flex-direction: column;
      align-items: center;
    }

    &::before,
    &::after {
      content: none;
    }
  }

}
