@cmp-accordion-image-size: 32px;

.cmp-it-guiding-accordion {

  .cmp-it-guiding-accordion__container {
    margin-top: -1px;
    border: 1px solid @black-20;
    border-right: 0;
    border-left: 0;

    position: relative;
  }

  .cmp-it-guiding-accordion__symbol {
    min-width: @cmp-accordion-image-size;
    min-height: @cmp-accordion-image-size;
    width: @cmp-accordion-image-size;
    height: @cmp-accordion-image-size;

    display: block;
    position: absolute;
    top: 50%;
    left: 1em;
    transform: translate(0, -50%);


    .cmp-image,
    .cmp-image__image {
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
    }

  }

  .cmp-it-guiding-accordion__title {
    text-transform: uppercase;
    font: @font-weight-bold @font-size-base @font-family-base;
    padding: 30px 64px;
    position: relative;
    display: block;

    &:hover {
      cursor: pointer;
    }

    .cmp-text {
      p {
        margin: 0;
        padding: 0;
      }
    }

    //Plus symbol
    > span {
      width: 16px;
      height: 2px;
      background: #001B36;
      position: absolute;
      right: 2em;
      top: 50%;

      transition: all 0.4s ease-in-out;
    }

    > span:nth-child(odd) {
      transform: rotate(450deg);
    }
  }

.cmp-it-guiding-accordion__description {
    transition: all 1s;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    padding-left: 64px;
  }

  &.expand-description {
    .cmp-it-guiding-accordion__title {
      > span:nth-child(odd) {
        transform: none;
      }
    }

    .cmp-it-guiding-accordion__description {
      max-height: 1000px;
      opacity: 1;
    }
  }
}
