@image-galery-image-size: 115px;

.image-galery__container {
  margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(@image-galery-image-size, 1fr));
  grid-auto-rows: @image-galery-image-size;
  grid-gap: 6px;

  .image-galery__image {
    width: 100%;
    height: 100%;
    overflow: hidden;

    .cmp-image {

      width: 100%;
      height: 100%;


      .cmp-image__image {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        transition: all 4s;

        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
}
